:root {
  --carolina-blue: hsla(207, 70%, 59%, 1);
  --violet-crayola: hsla(307, 50%, 40%, 1);
  --cultured: hsla(0, 0%, 96%, 1);
  --mandarin: hsla(18, 83%, 63%, 1);
  --dark-purple: hsla(252, 74%, 9%, 1);
  --primary: hsla(307, 50%, 40%, 1);
  --primary-mid: hsla(307, 50%, 60%, 1);
  --padding: 1.5ch;
}

body {
  background-color: var(--dark-purple);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.main-header {
  /* css grid */
  display: grid;
  grid-template-columns: 200px auto auto;
  background-color: var(--violet-crayola);
}

.logo {
  max-width: 120px;
  min-width: 70px;
  padding: var(--padding);
}

.main-nav {
  grid-column-start: 3;
  /* start=top center=vertical center end=bottom */
  align-self: end;
  /* start=left center=horiz center end=right */
  justify-self: end;
  display: flex;
  flex-direction: row;
}

.main-nav a {
  color: var(--cultured);
  text-decoration: none;
  padding: 15px;
  display: block;
}

.main-nav a:hover {
  background-color: var(--dark-purple);
}

.container {
  display: grid;
  /* divide container into 3 columns, each 1/3 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 30px;
  padding: 15px;
}

img {
  max-width: 100%;
}

.column { 
  min-height: 200px;
}

.column h3, .column p {
  color: var(--cultured);
  padding: 0 var(--padding);
}

.column img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.banner {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.banner img {
  width: 100%;
  /* vh = viewport height */
  height: 50vh;
  object-fit: cover;
}

.wide-column {
  grid-column: 1 / span 2;
}

.highlight {
  background-color:var(--mandarin);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
}

.highlight h3 {
  font-size: 3em;
  text-shadow: 0 0 2px var(--dark-purple);
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: var(--violet-crayola);
  min-height: 200px;
}

.secondary {
  align-self: end;
  display: flex;
}
.secondary a {
  color: var(--cultured);
  padding: var(--padding);
  text-decoration: none;
}

.social {
  justify-self: end;
  display: flex;
}

.social a {
  color: var(--cultured);
  padding: var(--padding);
  text-decoration: none;
  font-size: 2rem;
}

.social a:hover {
  color: var(--carolina-blue);
}

